<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- Favicon -->
      <link
         rel="apple-touch-icon"
         sizes="180x180"
         href="../assets/img/favicon/apple-touch-icon.png"
      />
      <link
         rel="icon"
         type="image/png"
         sizes="32x32"
         href="../assets/img/favicon/favicon-32x32.png"
      />
      <link
         rel="icon"
         type="image/png"
         sizes="16x16"
         href="../assets/img/favicon/favicon-16x16.png"
      />
      <link rel="manifest" href="../assets/img/favicon/site.webmanifest" />

      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&display=swap"
         rel="stylesheet"
      />

      <!-- SEO -->
      <title>Our Services</title>
      <meta content="" name="description" />
      <meta content="" name="keywords" />

      <!-- Tailwind -->
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="../assets/js/tailwind.config.js"></script>

      <!-- CSS -->
      <link rel="stylesheet" href="../assets/css/main.css" />
      <link rel="stylesheet" href="./assets/css/services.css" />
   </head>
   <body>
      <!-- Header -->
      <header></header>

      <!-- Main -->
      <main>
         <!-- Hero / Header -->
         <section id="hero">
            <div class="container mx-auto mb-20">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
               delectus. Architecto, mollitia, eaque delectus rerum tempore
               nulla ea expedita excepturi repudiandae ipsa est aliquam. Labore
               rerum, facilis quia officiis fuga eius, accusantium, enim ad
               assumenda atque architecto quis sapiente facere ea. Modi eligendi
               distinctio ducimus. Enim magnam sunt illo aperiam expedita
               veritatis maiores fuga est dolores sequi harum debitis
               reiciendis, tempora explicabo voluptatibus? Excepturi
               voluptatibus at architecto, beatae fuga quae nemo quaerat ex
               nobis officiis itaque officia repellat quibusdam ad et deleniti,
               impedit praesentium voluptas mollitia minima voluptatem eaque
               nisi modi? Quibusdam velit voluptates nam veniam odio error
               impedit ea.
            </div>
         </section>

         <!-- Services We Offer -->
      </main>

      <!-- Footer -->
      <footer></footer>

      <!-- ========================================================= -->
      <!-- Scripts -->
      <!-- ========================================================= -->
      <script src="../assets/vendor/jquery/jquery-3.6.0.min.js"></script>
      <script src="../assets/js/global.js"></script>
      <script src="./assets/js/services.js"></script>
      <script></script>
   </body>
</html>
